nav{
  background-color: #42a5f5;
  color:black;
}
nav ul a{
  color: black;
}
.stat-container{
  min-height:50px;
  padding: 0;
  background-color:  #1e88e5;
  margin-left:10px;
  margin-right: 10px;


}
.table-of-contents{
  position: fixed;
right: 20px;
top: 25%;
}
.section.scrollspy h4{
padding-left:25px;
}
.row{

}
.main-stat p {
  margin-top: 0;
margin-bottom: 20px;
}
.stat-section-header{

  margin-bottom: 0;
}
.stat-container-footer{
  color: #000000;

    padding: 10px;
    margin-bottom: 10px;
    padding-left: 25px;
    cursor: pointer;
    linear-gradient:
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)

}
.stat-container-footer:hover{

    background-color: transparent;

}
.stat-label{
  text-align:center;
  color: white;
  font-size: 1.5em;
}
.stat-container-icon{
  font-size: 2em;
  text-align: center;
  color: white;

}
.stat-container.home{
  background-color: #00897b
}
.stat-title{
  text-align: center;
  margin-right:200px;
}

.main-stat{
  text-align:center;

  color:white;
}

.main-stat .number {
  font-size: 4em;
}

.main{
  padding: 10px;
}

.secondary-stats-container{
  font-size: 1.2em;

}

.secondary-stat.positive{
  color: #4caf50;
}
.secondary-stat.negative{
  color:#f44336;
}
.secondary-stat.neutral{
  color: rgba(0, 0, 0, 0.87);
}
.secondary-stat{
  padding: 2px;
}
/* MEDIUM */
@media (max-width: 600px) {
  .stat-section-header{
    text-align:center;
  }
}

/* SMALL */
@media (max-width: 992px) and (min-width: 601px) {

}
