
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FNOL Pod Dashboard</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">


  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Compiled and minified CSS -->

  <link rel="stylesheet" href="css/materialize.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.js"></script>
  <!-- Compiled and minified JavaScript -->

  <link rel="stylesheet" href="css/main.css">

</head>

<body>

  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Pod Dashboards</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="fnol.html">FNOL</a></li>
        <li><a href="status.html">Status</a></li>

      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="fnol.html">FNOL</a></li>
        <li><a href="status.html">Status</a></li>
      </ul>
    </div>
  </nav>


<script src="js/main.js"></script>

            </body>
