

<template name="admin">
  <div class="row">

    <div class="col s3" >
      Statistic

        <p>
          <input name="statistic" type="radio" id="adoption" />
        <label for="adoption">Adoption</label>
      </p>
      <p>
        <input name="statistic" type="radio" id="conversion" />
        <label for="conversion">Conversion</label>
      </p>
    </div>

    <div id="lobRadioWrapper" style="display:none;">

      <div class="col s3">
        Line of Business
        <p>
          <input name="lob" type="radio" id="auto" />
          <label for="auto">Auto</label>
        </p>
        <p>
          <input name="lob" type="radio" id="home" />
          <label for="home">Home</label>
        </p>
      </div>
    </div>
  </div>

  <div id="statisticsWrapper" style="display:none;">

    {{ > statInput}}
    <div class="row">
      <div class="col s1 offset-s1">
        <button>Save</button>
      </div>

    </div>
  </div>

</template>

<template name="statInput">
  <div class="row">
    <div class="input-field col s2">
      <input id="main_stat" type="text" class="validate">
      <label for="main_stat">Main Stat</label>
    </div>


    <div class="input-field col s2">
      <input id="last_month" type="text" class="validate">
      <label for="last_month">Last Month</label>
    </div>


    <div class="input-field col s2">
      <input id="last_year" type="text" class="validate">
      <label for="last_year">Last Year</label>
    </div>


    <div class="input-field col s2">
      <input id="post_pod" type="text" class="validate">
      <label for="post_pod">Post Pod</label>
    </div>
  </div>
</template>
