<template name="secondaryStat">

  <li class="collection-item">
    <div>{{label}}
      <div class="secondary-content secondary-stat {{sign}}">
        {{#if positive }}
        <i class="fa fa-arrow-up"></i>
        {{/if}}
        {{#if negative}}
        <i class="fa fa-arrow-down"></i>
        {{/if}}

      {{#if neutral}}
        No change
      {{else}}
        {{value}}<sup>%</sup>
      {{/if}}

      </div></div>
    </li>
</template>
