<template name="statCard">
<!--  <div class="row">
    <div  id="adoption" class="col s10 offset-1 section scrollspy">
      <h4>Adoption</h4>
    </div>
  </div>
-->


  <div class="col s12 m5 stat-container {{lob}} card">

 <div class="stat-container-icon">
      {{#if auto}}
      <i class="fa fa-car"></i>
      {{/if}}
      {{#if home}}
        <i class="fa fa-home"></i>
      {{/if}}


    </div>
    <div class="main-stat">
      <span class="number"> {{mainStat}}</span>
      <p>% this month</p>
      </div>
      <ul class="collection secondary-stats-container">
        {{#each secondaryStats}}
        {{ > secondaryStat }}
          {{/each}}


          </ul>
          <div class="stat-container-footer">
            More info <i class="fa fa-arrow-right"></i>
          </div>
            </div>

</template>
