<template name="statSection">


  <!-- ADOPTION START -->
<div class="row stat-section-header">
    <div id="adoption" class="section scrollspy col md10 s12">
      <h4>Adoption </h4>
    </div>
    </div>
    <div class="row">
      {{#each dataByDataType "adoption"}}
      {{ > statCard}}
      {{/each}}
    </div>

<div class="row stat-section-header">
    <div id="conversion" class="col s10 section scrollspy">
      <h4>Conversion </h4>
    </div>
  </div>

  <div class="row">
    {{#each dataByDataType "conversion"}}
    {{ > statCard}}
    {{/each}}
  </div>


<div class="hide-on-small-only">
  <ul class="section table-of-contents">
    <li><a href="#adoption" class="active">Adoption</a></li>
    <li><a href="#conversion" class="">Conversion</a></li>

  </ul>
</div>




<!-- ADOPTION END -->
</template>
